<!DOCTYPE html>
<html lang="en">
<head>
<title>О Нас</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="The River template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&family=Open+Sans:wght@600&family=PT+Sans:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.css') }}">
<link href="{{ url_for('static', filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.3.4/owl.carousel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.3.4/owl.theme.default.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.3.4/animate.css') }}">
<link href="{{ url_for('static', filename='plugins/jquery-datepicker/jquery-ui.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about_responsive.css') }}">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a href="#">Ивушка</a></div>
			<div class="ml-auto d-flex flex-row align-items-center justify-content-start">
				<nav class="main_nav">
					<ul class="d-flex flex-row align-items-start justify-content-start">
						<li class="active"><a href="index.html">Домой</a></li>
						<li><a href="about.html">Услуги</a></li>
						<li><a href="#">Дома</a></li>
						<li><a href="blog.html">Карта</a></li>
						<li><a href="contact.html">Контакты</a></li>
					</ul>
				</nav>
				<div class="book_button"><a href="booking.html">Забронировать</a></div>
				<div class="header_phone d-flex flex-row align-items-center justify-content-center">
					<img src="images/phone.png" alt="">
					<span>+7 927 556-51-70</span>
				</div>

				<!-- Hamburger Menu -->
				<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu trans_400 d-flex flex-column align-items-end justify-content-start">
		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="menu_content">
			<nav class="menu_nav text-right">
				<ul>
					<li><a href="index.html">Домой</a></li>
					<li><a href="about.html">Услуги</a></li>
					<li><a href="#">Дома</a></li>
					<li><a href="blog.html">Карта</a></li>
					<li><a href="contact.html">Контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="menu_extra">
			<div class="menu_book text-right"><a href="#">Забронировать</a></div>
			<div class="menu_phone d-flex flex-row align-items-center justify-content-center">
				<img src="images/phone-2.png" alt="">
				<span>+7 927 556-51-70</span>
			</div>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(static/images/services_main.jpg)"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title">Услуги</div>
							<div class="booking_form_container">
								<form action="#" class="booking_form" id="booking_form">
									<div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
										<div class="booking_input_container d-flex flex-row align-items-start justify-content-start flex-wrap">
											<div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Заселение" required="required"></div>
											<div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Выселение" required="required"></div>
											<div><input type="number" class="booking_input booking_input_b" placeholder="Количество гостей" required="required"></div>
											<div><button class="booking_button trans_200">Забронировать</button></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="about_title"><h2>Ивушка - отдых начинается здесь</h2></div>
				</div>
			</div>
		</div>
	</div>


	<!-- Split Section Right -->

	<div class="split_section_right container_custom">
		<div class="container">
			<div class="row row-xl-eq-height">
				
				<div class="col-xl-6 order-xl-1 order-2">
					<div class="split_section_image">
						<div class="background_image" style="background-image:url(static/images/milestone_1.jpg)"></div>
					</div>
				</div>

				<div class="col-xl-6 order-xl-2 order-1">
					<div class="split_section_right_content">
						<div class="split_section_title"><h2>Удобства в номерах</h2></div>
						<div class="split_section_text">
							<ul class="amenities_list">
								<li>• Холодильник</li>
								<li>• Кондиционер в номере</li>
								<li>• Фен</li>
								<li>• Кухня/кухонный уголок в номере</li>
								<li>• Телевизор в номере</li>
								<li>• Утюг</li>
								<li>• Уборка</li>
								<li>• Интернет всей территории базы отдыха</li>
							</ul>
						</div>
						<div class="split_section_title"><h2>Обслуживание</h2></div>
						<div class="split_section_text">
							<ul class="amenities_list">
								<li>• Прачечная</li>
								<li>• Трансфер</li>
								<li>• Отопление</li>
								<li>• Трансфер: от/до железнодорожного вокзала, до/от торгового центра, от/до автовокзала</li>
								<li>• Круглосуточная стойка регистрации</li>
								<li>• Ускоренная регистрация заезда/отъезда</li>
								<li>• Тип трансфера: платный</li>
								<li>• Сейф</li>
								<li>• Тип сейфа: у администратора, бесплатный</li>
								<li>• Оборудование для кухни: посуда, чайник, микроволновка, плита</li>
								<li>• Частота уборки: в определенные дни</li>
            				</ul>
						</div>
					</div>


						<!-- Milestones -->
						<div class="milestones_container d-flex flex-row align-items-start justify-content-start flex-wrap">
								
							<!-- Milestone -->
							<div class="milestone d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_content">
									<div class="milestone_counter" data-end-value=" 45">0</div>
									<div class="milestone_title">Коттеджей</div>
								</div>
							</div>

							<!-- Milestone -->
							<div class="milestone d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_content">
									<div class="milestone_counter" data-end-value="100" data-sign-after="+">0</div>
									<div class="milestone_title">Туристов</div>
								</div>
							</div>

							<!-- Milestone -->
							<div class="milestone d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_content">
									<div class="milestone_counter" data-end-value="100" data-sign-after="+">0</div>
									<div class="milestone_title">Развлечений</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Split Section Left -->

	<div class="split_section_left container_custom">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="split_section_left_content">
						<div class="split_section_title"><h2>Спорт и развлечения</h2></div>
						<div class="split_section_text">
							<ul class="amenities_list">
								<li>• Бассейн: (открытый, сезонный)</li>
								<li>• Настольный теннис</li>
								<li>• Бильярд</li>
								<li>• Волейбол</li>
								<li>• Бадминтон</li>
								<li>• Площадка для пикника</li>
								<li>• Тераса</li>
						</div>
						<div class="split_section_title"><h2>Красота и здоровье</h2></div>
						<div class="split_section_text">
							<ul class="amenities_list">
								<li>• Сауна</li>
								<li>• Баня</li>
								<li>• SPA</li>
            				</ul>
						</div>
						<div class="split_section_title"><h2>Питание</h2></div>
						<div class="split_section_text">
							<ul class="amenities_list">
								<li>• Ресторан</li>
								<li>• Кафе</li>
								<li>• Бар</li>
								<li>• Бар у бассейна</li>
            				</ul>
						</div>
						<div class="split_section_title"><h2>Для детей</h2></div>
						<div class="split_section_text">
							<ul class="amenities_list">
								<li>• Детская площадка</li>
								<li>• Детские кроватки/люльки</li>
							</ul>
						</div>

						<!-- Loaders -->
						<div class="loaders_container d-flex flex-row align-items-start justify-content-start flex-wrap">
							
							<!-- Loader -->
							<div class="loader_container text-center">
								<div class="loader text-center" data-perc="1.0">
									<div class="loader_content">
										<div class="loader_title">Отличный сервис</div>
									</div>
								</div>
							</div>

							<!-- Loader -->
							<div class="loader_container text-center">
								<div class="loader text-center" data-perc="1.0">
									<div class="loader_content">
										<div class="loader_title">Восторг</div>
									</div>
								</div>
							</div>

							<!-- Loader -->
							<div class="loader_container text-center">
								<div class="loader text-center" data-perc="1.0">
									<div class="loader_content">
										<div class="loader_title">Наслаждения</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Loaders Image -->
				<div class="col-xl-6">
					<div class="split_section_image split_section_left_image">
						<div class="background_image" style="background-image:url(static/images/milestone_2.jpg)"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row footer_row">

					<!-- Address -->
					<div class="col-lg-4">
						<div class="footer_title">Наш адрес</div>
						<div class="footer_list">
							<ul>
								<li>Астраханская область</li>
								<li>Приволжский район</li>
								<li>с. Началово</li>
								<li>ул. Мостовая</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="footer_logo_container text-center">
							<div class="footer_logo">
								<a href="#">
									<img src="static/images/main_logo_new.png" alt="Iva" style="max-width: 100%; height: auto;">
								</a>
							</div>
						</div>
					</div>

					<!-- Reservations -->
					<div class="col-lg-4">
						<div class="footer_title">Бронирование</div>
						<div class="footer_list">
							<ul>
								<li>Телефон: +7 927 556-51-70</li>
								<li>reservations@iva.ru</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="copyright">


Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved

</div>
	</footer>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/OwlCarousel2-2.3.4/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datepicker/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/about.js') }}"></script>
</body>
</html>