@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.milestones_container
	{
		padding-right: 0;
	}
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
    .about
    {
        padding-top: 107px;
        padding-bottom: 140px;
    }
	.split_section_right_content
	{
		padding-right: 90px;
	}
	.split_section_left_content
	{
		padding-left: 67px;
	}
	.loader_container
	{
		height: 120px;
	}
	.loader
	{
		width: 120px;
		height: 120px;
	}
	.progressbar-text
	{
		font-size: 36px !important;
	}
	.loader_content
	{
		bottom: 37px;
	}
	.loader_title
	{
		font-size: 13px;
	}
	.about_title h2
	{
        max-width: 100%;
        text-align: center;
    }
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	.about_title h2
	{
        max-width: 100%;
        text-align: center;
    }
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.about_title h2
	{
        max-width: 100%;
        text-align: center;
    }
    .modal-form p {
        font-size: 22px;
    }
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
    .milestones_container {
        padding-left: 15%; /* Начальное значение */
        box-sizing: border-box; /* Учитываем padding в общей ширине элемента */
    }
	.container_custom .container
	{
		padding-left: 15px;
		padding-right: 15px;
		max-width: 100%;
	}
	.container_custom .container .row
	{
		margin-left: -70px;
		margin-right: -70px;
	}
	.container_custom .container .row > div[class^='col']
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.header_phone
	{
		width: 175px;
		height: 52px;
	}
	.book_button
	{
		width: 132px;
		height: 52px;
		margin-left: 25px;
	}
	.book_button a
	{
		line-height: 52px;
	}
	.main_nav ul li:not(:last-of-type)
	{
		margin-right: 30px;
	}
	.about_title h2
	{
        max-width: 100%;
        text-align: center;
    }
	.split_section_image
	{
		height: 600px;
		margin-top: 43px;
	}
	.split_section_right_content
	{
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.split_section_left_content
	{
		padding-top: 50px;
		padding-right: 0;
		padding-bottom: 0;
	}
	.loader_container
	{
		height: 155px;
	}
	.loader
	{
		width: 155px;
		height: 155px;
	}
	.progressbar-text
	{
		font-size: 48px !important;
	}
	.loader_content
	{
		bottom: 48px;
	}
	.loader_title
	{
		font-size: 14px;
	}
	.split_section_left_image
	{
		margin-top: 100px;
	}
	.loaders_container
	{
		margin-left: -50px;
	}
	.split_section_left
	{
		padding-bottom: 0px;
	}
	.booking_form > div > div:last-child
	{
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
	}
	.booking_form
	{
	    padding: 15px 10px 10px 20px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	.about_title
	{
        max-width: 100%;
        text-align: center;
    }
    .modal-content {
        width: 70%;
}
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
    .home
    {
        height: 700px;
    }
    .about
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
	.main_nav
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.home_title
	{
		font-size: 72px;
	}
	.booking_input_container > div
	{
		padding-right: 0;
	}
	.booking_input_container > div:first-child,
	.booking_input_container > div:nth-child(2)
	{
		width: 100%;
	}
	.booking_input_container > div:nth-child(3),
	.booking_input_container > div:nth-child(4)
	{
		width: 100%;
	}
	.booking_input_container > div:not(:last-of-type)
	{
		margin-bottom: 10px;
	}
	.about_images
	{
		margin-top: 42px;
	}
	.gallery_item
	{
		height: calc(100vw / 3);
	}
	.blog_title a
	{
		font-size: 30px;
	}
	.footer_row > div[class^='col']:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.footer_content
	{
		padding-bottom: 22px;
	}
	.cert:not(:last-child)
	{
		margin-right: 15px;
	}
	.footer_logo img {
        width: 30%;
    }
    .container .about_images {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .milestones_container {
        padding-left: 15%; /* Начальное значение */
        box-sizing: border-box; /* Учитываем padding в общей ширине элемента */
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{

}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{

}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
    .amenities_list li {
        padding-left: 3px;
    }
    .about
    {
        padding-top: 50px;
        padding-bottom: 30px;
    }
	.container_custom .container
	{
		max-width: 100%;
	}
	.header_content
	{
		padding-left: 30px;
		padding-right: 30px;
	}
	.home_title
	{
		font-size: 56px;
	}
	.home_slider_dots_container
	{
		left: 30px;
	}
	.book_button
	{
		display: none;
	}
	.header_phone
	{
		display: none !important;
	}
	.menu_book
	{
		display: block;
	}
	.booking_form_container
	{
		padding-left: 0;
		padding-right: 0;
	}
	.split_section_title h1
	{
		font-size: 56px;
	}
	.custom-container
	{
        justify-content: initial !important;
    }
	.milestones_container
	{
	    font-size: 36px;
        padding-right: 0px;
        padding-left: 15%; /* Начальное значение */
        box-sizing: border-box; /* Учитываем padding в общей ширине элемента */
	}
	.milestone_counter
	{
		font-size: 56px;
	}
	.loader_container
	{
		height: 120px;
	}
	.loader
	{
		width: 120px;
		height: 120px;
	}
	.progressbar-text
	{
		font-size: 36px !important;
	}
	.loader_content
	{
		bottom: 37px;
	}
	.loader_title
	{
		font-size: 13px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.container_custom .container
	{
		max-width: 100%;
	}
	h2
	{
		font-size: 24px;
	}
	p
	{
		font-size: 14px;
	}
	.header_content
	{
		padding-left: 15px;
		padding-right: 15px;
		height: 90px;
	}
	.header.scrolled .header_content
	{
		height: 70px;
	}
	.logo
	{
		width: 107px;
		height: 36px;
	}
	.logo a
	{
		font-size: 18px;
		line-height: 32px;
	}
	.home_title
	{
		font-size: 40px;
	}
	.booking_input
	{
		height: 40px;
	}
	.home_container
	{
		top: 55%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.booking_button
	{
		width: 100%;
		height: 40px;
		margin: 15px auto;
		display: block;
	}
	.split_section_title h1
	{
		font-size: 36px;
	}
	.milestones_container
	{
	    font-size: 36px;
        padding-right: 0px;
	}
	.milestone_counter
	{
		font-size: 36px;
		padding-top: 10px;
		display: flex;
        justify-content: space-around;
        align-items: center;
	}
	.milestone_title
	{
		font-size: 14px;
		margin-top: 30px;
	}
	.split_section_image
	{
		height: 450px;
	}
	.loaders_container {
        flex-wrap: nowrap; /* Отключаем перенос элементов */
        justify-content: center; /* Выравниваем по центру */
        margin: 55px; /* Отступы между лодерами */
    }

    .loader_container {
        width: 100%; /* Полная ширина контейнера */
        margin: 5px 0; /* Уменьшаем верхний и нижний отступ */
    }
    .loaders_container.flex-wrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    .modal-form p {
        font-size: 18px;
    }
    .modal-content {
        width: 90%;
}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
    .about_title h2 {
        font-size: 26px;
    }
    .about
    {
        padding-top: 50px;
        padding-bottom: 30px;
    }
	.split_section_right_content
	{
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.split_section_left_content
	{
		padding-top: 40px;
		padding-right: 0;
		padding-bottom: 0;
	}
	.loaders_container
	{
		margin-left: 0px;
	}
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.milestones_container
	{
	    font-size: 36px;
        padding-right: 0px;
	}
	.milestone_counter
	{
		font-size: 36px;
		padding-top: 10px;
		display: flex;
        justify-content: space-around;
        align-items: center;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
    .loaders_container.flex-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
}
}